html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Lato;
    image-rendering: -webkit-optimize-contrast;
}
.container-fluid{
    margin-top: 80px;
}
.fondAccueil + .container-fluid{
    background-color: white;
    margin: 0;
}


/* typo */
@font-face {
    font-family: "Lato";
    src: url('../typo/Lato-Regular.ttf');
}
@font-face {
    font-family: "Lato-light";
    src: url("../typo/Lato-Light.ttf");
}
@font-face {
    font-family: "Lato-LightItalic";
    src: url('../typo/Lato-LightItalic.ttf');
}
/* fin typo */

/* accueil */
.accueil{
    background-color: transparent;
}
.fondAccueil{
    background: url('../img/background2.png') 100% no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -400;
}
.logoAccueil{
    margin:auto;
    padding:auto;
}
/* fin accueil */

/* début css nav */

  /* GENERAL */
.navbar-brand{
    margin: auto 20px;
}
.navbar-brand img{
    height: 70px;
}
.nav-link{
    color: black !important;
    transition: 0.3s;
}
.nav-item{
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
    /* MENU 1, MENU ANIME, MENUS2 => AUTRES PAGES */
.menu1{
    margin: 10px 0;
}
.menuAnime{
    top: -100px;
    transition: 0.5s ease;
}
.menu2{
    height: 80px;
    padding: 0 20px;
    background-color: #F1F2F4;
}
.menu2 nav ul{
    height: 80%;
}
.menu2 .nav-item{
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.menu2 .nav-link{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    padding: 0 20px 10px 20px;
}
.menu2 .nav-item:hover{
    background-color: rgba(200, 233, 243, 0.699);
}
.active {
    background-color: #A3D9ED;
}
.menu2 .active:hover{
    background-color: #A3D9ED;
}
/* fin nav */

/* carousel */
#carousel{
    margin: 100px;
    padding: 100px;
}
.carousel-inner{
    border-radius: 30px;
    box-shadow: rgb(170, 170, 170) 3px 3px 8px;
}
.carousel-indicators [data-bs-target]{
    height: 30px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 0 10px;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    transform: scale(1.5);
}

/* fin carousel */

/* presentation accueil */
h2{
    font-family: Lato-Light;
    padding: 30px 80px 60px 30px;
}
.who{
    background-image: url("../img/plume-titre.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.presentation_accueil{
    background-color: #F3E6DD;
    padding: 60px 0;
}
.presentation_accueil .text-center{
    padding: 50px;
    background: white;
    box-shadow: rgb(170, 170, 170) 3px 3px 8px;
    border-radius: 20px;
}
p{
    margin: 0;
}
.member{
    background-image: url("../img/plume-titre-beige.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.adhesion_accueil{
    padding: 60px 0;
}
.adhesion_accueil .text-center{
    padding: 50px;
    box-shadow: rgb(170, 170, 170) 3px 3px 8px;
    border-radius: 20px;
}

/* association et evenements*/
.titreAsso, .titreEvenements, .titreRejoindre {
    background-image: url("../img/plume-titre-beige.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.logoPageAsso{
    padding: 20px 50px;
    border-radius: 50px;
    box-shadow: rgb(170, 170, 170) 2px 2px 8px;
}
.logoPageAsso img{
    width: 100%;
}
.soustitre + p{
    padding: 30px;
    border-radius: 10px;
    border: #D7C0DB 1px solid;
}

.photo{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50px;
}
.notreAsso > div > .row{
    margin-top: 60px;
}
.nosEvenements > div > .row{
    margin-top: 60px;
}
.beige{
    background-color: #F3E6DD;
    padding: 30px;
    border-radius: 10px;
}
.rencontres + .rejoignezNous{
    padding: 30px;
    border-radius: 10px;
    box-shadow: none;  
}
.soustitre + .row{
    padding: 50px;
    background: white;
    box-shadow: rgb(170, 170, 170) 3px 3px 8px;
    border-radius: 10px;
}
.soustitre{
    margin-bottom:20px;
}
.notreAsso > div:last-child{
    margin-bottom: 100px;
}
.nosEvenements > div:last-child{
    margin-bottom: 100px;
}
.fondEvenements{
    background-image: url("../img/virgule-titre.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.fondEvenements > h2 {
    padding:0;
    margin-top:30px;
}
.fondEvenements > p {
    margin-top: 30px;
}
.evenement1 {
    margin : 20px 0px 20px 0px;
}

/* fin association et evenement*/

/* poemes */

.nuage{
    width: 100%;
    background-color: transparent;
}
.nuage img{
    width: 100%;
}
.fondPoemes{
    background: url("../img/fondPoèmes-originale.jpg") no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -400;
}
.achatLivre{
    background-color: white;
    padding: 100px 0;
}

.achatLivre > div{
    margin: 100px 0;
}
.achatLivre .btn{
    box-shadow: rgb(170, 170, 170) 0 0 8px;
    transition: 0.3s;
}
.achatLivre .btn:hover{
    transform: scale(1.1);
}

/* fin poemes */

/*adhesion*/
.fondBulletin{
    background-image: url("../img/virgule-titre2.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}
.fondBulletin > a{
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* fin adhesion*/

/* footer */

footer{
    height: 200px;
    background-color: #F1F2F4;
}
footer > div a img{
    width: 40px;
    margin: 0 5px;
    transition: 0.3s;
}
footer > div a:hover img{
    transform: scale(1.2);
}
.copyright{
    font-size: small;
}

/* mentions */
.mentions > p{
    padding-bottom: 30px;
}

/* classes pour animation */

.invisible{
    transition: 0.7s;
    opacity: 0;
    transform: translate(0, 20px);
}
.visible{
    transition: 0.7s;
    opacity: 1;
    transform: translate(0, -20px);
}

/*lien*/
a:link {
    color:#A3D9ED;
    text-decoration: none;
    transition: 0.3s;
}
a:visited{
    color:#d3ab8f;
    text-decoration:none;
}
a:hover{
    color:#D7C0DB;
    text-decoration:none;
}
a:active{
    color:#A3D9ED;
    text-decoration:none;
}